#Azure OpenAI
AZURE_OPENAI_API_KEY =
AZURE_OPENAI_ENDPOINT = 
model_name = 
deployment = 
api_version = 
embedding = 

#Azure AI Search
AZURE_SEARCH_ENDPOINT = 
AZURE_SEARCH_API_KEY = 

#Document Intelligence
DI_ENDPOINT = 
DI_KEY = 
AZURE_STORAGE_CONNECTION_STRING =

GITHUB_TOKEN = 